.imagen{
    height: 50px;
    /* width: 30px; */
    /* margin: 0 0 0 295px; */

}
.imagen2{
    height: 50px;
    /* width: 30px; */
    margin: 0 0 30px 0;
}
body{
    font-family: 'Press Start 2P', cursive;
}
.boton{
    width: 150px;
    margin: 0 0 10px 10px;
}
.boton2{
    margin: 0 10px 10px 300px;
    width: 200px;
}
.elementos{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
/* body{
    background-color: red;
} */
.texto{
    margin: 5px 50px 5px 50px;
    
}
.estilo{
    width: 1000px;
    margin: 0 0 0 40px;
}
.boton3{
    text-align: center;
    width: 300px;
}
/* .botonS{
    text-align: center;
    width: 300px;
    /* margin: 0 0 0 30px; */
.boton4{
    display: flex;
    justify-content: center;
}
.presentacion{
    margin: 5px 0 5px 170px;
    font-size: 15px;
}
.boton3{
    border-radius: 20px;
    margin: 0 0 15px 0;
}
.imagenlogo{
    width: 450px;
    height: 300px;
    /* border: 1px solid black; */
    /* border-radius: 10px; */
    margin: 0 0 10px 0;
    /* align-items: center3; */
}
.imagenlogo2{
    display: flex;
    justify-content: center;
}
.titulo{
    margin: 5px 0 0 0;
    font-size: 20px;
}

.iguales{
    display: flex;
}
.noche{
    border: 1px solid black;
}
.imagenNoche{
    margin: 0;
    height: 50px;
}
.voltear{
    display: flex;
    flex-direction: column-reverse;
}
.botonfinal{
    /* width: 300px; */
    /* border: 1px solid black; */
    display: flex;
    display: inline;
    justify-content: center;
}
.boton5{
    margin: 0 0 5px 0;
}
.linea{
    margin: 0 0 0 300px;
}
.salvadora{
    display: flex;
}
.centrar{
    text-align: center;
    /* border: 1px solid black; */
    margin-left: 230px;
}
.letra{
    margin: 5px 0 0 0;
    /* padding-top: 0px; */
}
.titulofinal{
    margin-left: 190px;
}