<%- include("partials/header.ejs") %>
<nav class ="navbar navbar-dark bg-dark mb-4">
    <a href="/" class ="navbar-brand">Trabajo Parcial de Discreta</a>
</nav>   
<div class="container">
    <div class="row">
        <div class="col-md-5 offset-md-3">
            <div class="card">
                <div class="card-body">
                    <form action="/editP/<%= tasks2._id%>" method ="POST">
                        <div class="form-group">
                            <p>Proyecto</p>
                            <input type="text" name = "Nproyecto" placeholder="Ingrese proyecto..." class ="form-control" >
                        </div>
                        <button type ="submit" class ="btn btn-primary btn-block">Actualizar</button>
                        <a href="/registrar" class ="btn btn-primary btn-block">Regresar</a>
                    </form>
                </div> <!-- Fin de card-body -->
            </div> <!-- Fin de card -->
        </div> <!-- Fin de col-md-5 -->
    </div>
</div>

<%- include("partials/footer.ejs") %>