<%- include("partials/header.ejs") %>
<nav class ="navbar navbar-dark bg-dark mb-4">
    <a href="/" class ="navbar-brand">Presentación</a>
</nav>   
<div class="container">
    <div class="elementos">
        <h1 class ="text-center">Project Hasse</h1>
        <div class="imagenlogo2">
            <img src="images/logo3.png" class ="imagenlogo">
        </div>
        <div class="card estilo">
            <p class ="text-center titulo">Pasos a seguir </p>
            <p class ="presentacion">1. Ingrese un proyecto pendiente.</p>
            <p class ="presentacion">2. Ingrese los distintos ordenamiento de los proyectos que tomará en cuenta para cada criterio.</p>
            <p class ="presentacion"> 3. Designe un porcentaje de importancia a cada criterio.</p>
            <p class = "presentacion"> 4. Observe la representación gráfica sobre la secuencia más óptima a seguir.</p>
        </div>
        <div class="boton4">
            <a href="/registrar" class ="btn btn-primary boton3 mr-4   mt-4">Proyectos</a>
            <a href="/index" class ="btn btn-primary boton3   mt-4 ml-4 ">Criterios</a>
        </div>
    </div>
</div>


<% include("partials/header.ejs") %>